/* .menu {
    padding: 15px 0px 40px 0px;
    background-color: wheat;
    font-size: 20px;
}

.menu a {
    padding: 0px 20px;
    text-decoration: none;
}

@keyframes opcionSeleccionada-in {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@keyframes opcionSeleccionada-out {
    from {
        font-size: 23px;
    }
    to {
        font-size: 20px;
    }
}

.menu a:visited,
.menu a:active,
.menu a:link {
    color: black;
}

a.left,
a.right {
    animation-name: opcionSeleccionada-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

a:hover {
    color: rebeccapurple;
    animation-name: opcionSeleccionada-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.right {
    float: right;
}

.left {
    float: left;
} */