<!-- <nav class="menu">
  <a class="left" style="color:green" routerLink="/">OBRAPP</a>  
  <a class="left" routerLink="/trabajos">Mis trabajos</a>
  <a class="left" routerLink="/materiales">Mis materiales</a>
  <a class="left" routerLink="/pagos">Mis pagos</a>
  <a class="left" routerLink="/contratistas">Contratistas</a>
  <a class="right" routerLink="/sesion">
    <mat-icon>home</mat-icon>
    <span *ngIf="!usuario">Iniciar sesión</span>
    <span *ngIf="usuario">{{usuario.Nombre}}</span>
  </a>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Obrapp</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/trabajos">Trabajos</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/pagos">Pagos</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/materiales">Materiales</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/contratistas">Contratistas</a>
      </li>
    </ul>

    <hr class="d-lg-none">

    <span data-toggle="collapse" data-target=".navbar-collapse.show">
      <a routerLink="/sesion">
        <mat-icon style="vertical-align: bottom">home</mat-icon>
        <span *ngIf="!usuario">Iniciar sesión</span>
        <span *ngIf="usuario">{{usuario.Nombre}}</span>
      </a>
    </span>
  </div>
</nav>