.item-margen {
    margin: 10px;
}

#monto-total {
    margin: 17px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(200, 255, 200);
    text-align: right;
    font-weight: bold;
    float: right;
}