<label>Nombre:
  <input name="nombre" placeholder="..." [(ngModel)]="trabajo.Nombre" />
</label>
<br>
<label>Descripcion:
  <input name="descripcion" placeholder="..." [(ngModel)]="trabajo.Descripcion" />
</label>
<br>
<label>Tipo:
  <input name="tipo" placeholder="..." [(ngModel)]="trabajo.IdTipo" />
</label>
<br>
<label>Estado:
  <input name="estado" placeholder="..." [(ngModel)]="trabajo.IdEstado" />
</label>
<br>
<label>Contratista:
  <select [(ngModel)]="trabajo.IdContratista" autofocus="0">
    <option value="" disabled selected>Seleccionar contratista</option>
    <option *ngFor="let item of contratistas" [value]="item.Id">{{item.Nombre}}</option>
  </select>
</label>
<br>
<button (click)="aceptar($event)">Aceptar</button>
<button (click)="cancelar($event)">Cancelar</button>

<pre>
  {{estados | json}}
</pre>

<pre>
  {{tipos | json}}
</pre>
