<h3>{{esCrear ? 'Nuevo' : 'Editar'}} trabajo</h3>
<div *ngIf="trabajo" class="formulario">
  <div>
    <mat-form-field class="formulario-item">
      <input matInput placeholder="Nombre" [(ngModel)]="trabajo.Nombre">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="formulario-item">
      <textarea matInput placeholder="Descripción" rows="1" [(ngModel)]="trabajo.Descripcion"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="formulario-item">
      <mat-select placeholder="Estado" [(ngModel)]="trabajo.Estado.Id">
        <mat-option *ngFor="let item of estados" [value]="item.Id">{{item.Nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>

  <div>
    <mat-form-field class="formulario-item">
      <mat-select placeholder="Contratista" [(ngModel)]="trabajo.Contratista.Id">
        <mat-option *ngFor="let item of contratistas" [value]="item.Id">{{item.Nombre}} {{item.Apellido}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="formulario-item">
      <mat-select placeholder="Contrato" [(ngModel)]="trabajo.Contrato.Id">
        <mat-option *ngFor="let item of contratos" [value]="item.Id">{{item.Nombre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="formulario-item">
      <input matInput placeholder="Precio pactado" [(ngModel)]="trabajo.Precio">
    </mat-form-field>
  </div>

  <div class="botones-confirmar">
    <button mat-raised-button color="primary" class="boton" (click)="aceptar($event)">Aceptar</button>
    <button mat-raised-button color="primary" class="boton" (click)="cancelar($event)">Cancelar</button>
  </div>
</div>